<mat-card id="item-list">
  <mat-card-content>
    <h3 mat-subheader>Items List</h3>
    <mat-list>
      <mat-list-item class="mat-list-option" *ngFor="let item of items"
        (click)="select(item)">
        <h4 mat-line>{{item.name}}</h4>
        <span mat-line>{{item.description}}</span>
        <button mat-mini-fab class="mat-pseudo-checkbox"
          (click)="delete(item);$event.stopImmediatePropagation()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
