<div id="item" class="wrapper">
  <div class="list-grid">
    <workspace-item-list [items]="items$ | async"
                          (selected)="selectItem($event)"
                          (deleted)="deleteItem($event)">
    </workspace-item-list>
  </div>

  <div class="details-grid">
    <workspace-item-details [group]="form"
                            [item]="currentItem$ | async"
                            (submitted)="saveItem($event)">
    </workspace-item-details>
  </div>
</div>
