mat-sidenav {
  width: 200px;
}

.mat-sidenav-container {
  background: whitesmoke;
  flex: 1;
}

.nav-link {
  color: rgba(0, 0, 0, .54);
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
