<workspace-toolbar [title]="title" [sidenav]="sidenav" [isAuthenticated]="isAuthenticated$() | async"></workspace-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="app-sidenav mat-elevation-z2">
    <nav>
      <a mat-button class="nav-link" *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active">
        <mat-icon>
          {{link.icon}}
        </mat-icon>
        {{link.label}}
      </a>
    </nav>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
