<div id="login" class="wrapper">
  <div class="login-grid">
    <mat-card>
      <form [formGroup]="form" (submit)="login()">
        <mat-card-content>
          <!-- Username -->
          <mat-form-field appearance="outline">
            <mat-label>username</mat-label>
            <input matInput type="text" placeholder="Enter your username"
              formControlName="username">
            <mat-error *ngIf="form.get('username').hasError('required')">
              A valid username is required.
            </mat-error>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput type="text" placeholder="Enter your password"
              formControlName="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide;$event.stopImmediatePropagation()">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="form.get('password').hasError('required')">
              A valid password is required.
            </mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="submit" color="primary">
            Log In
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
