#login {
  &.wrapper {
    .login-grid {
      grid-column: 5/9;
      grid-row: 2;
      mat-card {
        mat-card-content {
          margin-bottom: 0;
          mat-form-field {
            width: 100%;
            mat-icon {
              pointer-events: all;
              cursor: pointer;
            }
          }
        }
        mat-card-actions {
          display: flex;
          flex-direction: row-reverse;
          margin-right: 3px;
          padding: 0;
        }
      }
    }
  }
}
