<mat-toolbar color="primary" class="mat-elevation-z5">
  <span>
    <button mat-mini-fab *ngIf="isAuthenticated" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      {{title}}
    </span>
  </span>
  <button mat-mini-fab *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
