<mat-card id="details">
  <mat-card-header>
    <mat-card-title *ngIf="!selectedItem.id; else editing">Create an Item</mat-card-title>
    <ng-template #editing>
      <mat-card-title >Editing Item</mat-card-title>
      <mat-card-subtitle>{{originalName}}</mat-card-subtitle>
    </ng-template>
  </mat-card-header>
  <form [formGroup]="group" (submit)="submit()">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>name</mat-label>
        <input matInput type="text" placeholder="Enter your name"
          formControlName="name">
        <mat-error *ngIf="group.get('name').hasError('required')">
          Please provide a name
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>description</mat-label>
        <input matInput type="text" placeholder="Enter your description"
          formControlName="description">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">
        {{!!originalName ? "Update" : "Submit"}}
      </button>
      <button mat-raised-button type="reset" color="accent"
        (click)="cancel()">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
